body {
margin: 0;
padding: 10px;
font-family: Arial, Helvetica, sans-serif;
min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing:border-box;
    border: 1px solid green;
    margin-bottom: 5px
}
button{
    background: green;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border: 1px solid green;
    margin-bottom: 10px
}
ul{
    list-style: none;
    padding-left: 0;
    margin-top:20px;
}
li{
    margin-top: 10px;
}
li a{
    color: green;
}
#delete-btn {
    background:white;
    color: green;
    font-weight:bold;
    border: 1px solid green;

}